body {
    background: #efefef;
}

// 新着レビュー
.latest-review-list {
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    background: #fff;
    h2 {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 15px;
        border-bottom: 1px dashed #aaa;
        a {
            margin-left: 10px;
        }
    }
    h6 {
        color: #777;
    }
}

.latest-review-list-item {
    border-bottom: 1px solid #efefef;
    padding: 10px;
    h5 {
        font-size: 1.2em;
    }
    .star {
        font-size: 0.8em;
        color: #aaa;
    }
    &.more {
        background-color: #efefef;
    }
}

// 新着サロン
.latest-salon-list {
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    background: #fff;
    h2 {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 15px;
        border-bottom: 1px dashed #aaa;
        a {
            margin-left: 10px;
        }
    }
}

.latest-salon-list-item {
    border-bottom: 1px solid #efefef;
    padding: 10px;
    h5 {
        font-size: 1.2em;
    }
    .star {
        font-size: 0.8em;
        color: #aaa;
    }
    &.more {
        background-color: #efefef;
    }
}

// カテゴリ一覧
.category-list {
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    background: #fff;
    h2 {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 15px;
        border-bottom: 1px dashed #aaa;
        a {
            margin-left: 10px;
        }
    }
}

.category-list-item {
    border-bottom: 1px solid #efefef;
    padding: 10px;
    h5 {
        font-size: 1.2em;
    }
}