p#notice = notice

p
  strong Salon:
  = @review.salon.name
p
  strong Name:
  = @review.name
p
  strong Sex:
  = @review.sex
p
  strong Age:
  = @review.age
p
  strong Point:
  div style="width: 200px; height: 200px;"
    canvas#chartPoint
p
  strong Detail:
  = @review.detail

=> link_to 'Edit', edit_review_path(@review)
'|
=< link_to 'Back', reviews_path

javascript:
  const data = {
    labels: #{{@review.review_points.map{|rp|rp.point.name}}},
    datasets: [{
      label: '評価',
      data: #{{@review.review_points.map{|rp|rp.score_before_type_cast}}},
      fill: true,
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgb(255, 99, 132)',
      pointBackgroundColor: 'rgb(255, 99, 132)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgb(255, 99, 132)'
    }, {
      label: '平均',
      data: #{{@review.review_points.map{|rp|rp.score_before_type_cast}}},
      fill: true,
      backgroundColor: 'rgba(54, 162, 235, 0.2)',
      borderColor: 'rgb(54, 162, 235)',
      pointBackgroundColor: 'rgb(54, 162, 235)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgb(54, 162, 235)'
    }]
  };
  let chartCanvas = document.getElementById('chartPoint');
  let chart = new Chart(chartCanvas, {
    type: 'radar',
    data: data,
    options: {
      scales: {
        r: {
            angleLines: {
                display: true
            },
            suggestedMin: 1,
            suggestedMax: 5
        }
    }
    },
  });
